<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isunican.eventossantander">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventosSantander"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.info.InfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.eventsdetail.EventsDetailActivity"
            android:exported="false"
            android:parentActivityName=".view.events.EventsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.events.EventsActivity" />
        </activity>
        <activity
            android:name=".view.events.EventsActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.categoryfilter.CategoryFilterActivity" android:exported="false"/>
    </application>

</manifest>